.env
config.json
config.toml
config.yaml
config.yml

# Elixir

_build/
cover/
deps/
doc/
.fetch
erl_crash.dump
*.ez
*.beam
config/*.secret.exs
.elixir_ls/

# Rust

debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
